:root { 
--light_green_700_5b:#4cb8265b; 
--deep_purple_900:#2811b1; 
--black_900_5b:#0000005b; 
--red_200:#ff9393; 
--bluegray_100:#d9d9d9; 
--green_500:#35e446; 
--red_100:#f8cccc; 
--gray_100:#f5f4f7; 
--indigo_200:#a1a4c1; 
--black_900:#000000; 
--deep_purple_A100_cc:#b29dffcc; 
--light_green_700:#4cb726; 
--deep_orange_A700:#f91a1a; 
--indigo_900:#0010a0; 
--white_A700:#ffffff; 
}