:root { 
--light_green_700_5b:#4cb8265b; 
--blue_900:#0000e1; 
--black_900_b2:#000000b2; 
--light_blue_200:#6dcbff; 
--black_900_5b:#0000005b; 
--indigo_50:#dad4ff; 
--gray_900_99:#09101d99; 
--gray_900:#0d0140; 
--indigo_51:#e3e7eb; 
--red_200:#ff9393; 
--gray_900_5b:#112a085b; 
--green_500:#35e446; 
--gray_50:#fcfcfc; 
--red_100:#f8cccc; 
--bluegray_900:#262b35; 
--black_900:#000000; 
--bluegray_401:#78828a; 
--bluegray_400:#74839d; 
--light_green_700:#4cb726; 
--bluegray_300:#9ca4ab; 
--deep_orange_A700:#f91a1a; 
--white_A700:#ffffff; 
--yellow_100:#fff8be; 
--bluegray_901:#1f2c37; 
}