
 @font-face { font-style : normal; src: url("assets/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/RalewayRegular.ttf"); font-family : "Raleway"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/InterMedium.ttf"); font-family : "Inter"; font-weight : 500;  }